* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #f4f6e9;
}

header {
	background: #070a27;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	height: 100px;
}

.header-title {
	display: flex;
	align-items: center;
}

.header-title > h1 {
	color: #f4f6e9;
	margin-left: 10px;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-title > img {
	height: 30px;
}

.nav {
	display: flex;
}

.nav > a {
	text-decoration: none;
	color: #f4f6e9;
	padding: 10px;
	font-size: 1.5rem;
}

.nav a:hover {
	background: #f4f6e9;
	color: #070a27;
}

.ocultar {
	visibility: hidden;
}

.descubrir {
	display: block;
}

/* Media queries */
@media (width<720px) {
	header,
	.nav {
		flex-direction: column;
		height: fit-content;
	}

	header {
		padding: 0;
	}

	.nav {
		margin-top: 10px;
		width: 100%;
	}

	.nav > a {
		width: 100%;
		text-align: center;
		margin: 0;
		padding: 20px;
	}

	.nav > a:last-child {
		border-bottom: 1px solid #070a27;
	}
}
